<div class="footer-container">
  <div class="nav-item" (click)="executeNav('/')">
    <i class="pi pi-home nav-icon"></i>
    <label class="nav-label">Home</label>
  </div>
  <div class="nav-item" (click)="executeNav('/gallery')">
    <i class="pi pi-images nav-icon"></i>
    <label class="nav-label">Gallery</label>
  </div>
  <div class="nav-item" (click)="executeNav('/about')">
    <i class="pi pi-heart nav-icon"></i>
    <label class="nav-label">About</label>
  </div>
  <div class="nav-item" (click)="executeNav('/current')">
    <i class="pi pi-plus-circle nav-icon"></i>
    <label class="nav-label">Order</label>
  </div>
  <div class="nav-item" (click)="executeNav('/cart')">
    <i class="pi pi-shopping-cart nav-icon"></i>
    <label class="nav-label">Cart</label>
  </div>
</div>

<!-- <div class="footer-container">
  <div class="footer-copyright">2026 Milkglass Sweets</div>
  <div class="footer-links">
    <a
      href="https://facebook.com/milkglass-sweets"
      target="_blank"
      rel="noopener noreferrer"
      class="footer-link"
    >
      <i class="pi pi-facebook footer-icon"></i>
    </a>
    <a
      href="https://instagram.com/milkglass-sweets"
      target="_blank"
      rel="noopener noreferrer"
      class="footer-link"
    >
      <i class="pi pi-instagram footer-icon"></i>
    </a>
  </div>
</div> -->
