.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

// @media (max-width: 640px) {
//   .footer-container {
//     flex-direction: column;
//   }
// }

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40px;
  color: var(--p-primary-color);
}

.nav-icon {
  font-size: 1.5rem;
}
.nav-label {
  font-size: 0.875rem;
}

.footer-copyright {
  font-size: 0.875rem;
  color: var(--p-surface-600);
}

.p-dark .footer-copyright {
  color: var(--p-surface-400);
}

.footer-links {
  display: flex;
  gap: 1rem;
}

.footer-link {
  color: var(--p-surface-600);
  font-size: 0.875rem;
  transition: color 0.2s;
}

.p-dark .footer-link {
  color: var(--p-surface-400);
}

.footer-link:hover {
  color: var(--p-primary-500);
}

.footer-icon {
  font-size: 1.25rem;
}
