.main {
  margin-inline: 0.5rem;
  --p-carousel-indicator-active-background: var(--p-primary-800);

  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.card {
  border-radius: 10px;
  background-color: var(--p-primary-400);
}

.card-title {
  color: var(--p-surface-0);
  font-size: 1.25rem;
  padding: 0.5rem;
}

.description-text {
  color: var(--p-surface-0);
  padding: 0.5rem;
}

.select-options-component {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.page-header {
  background-color: var(--p-primary-400);
  color: var(--p-surface-0);
  margin-bottom: 0.25rem;
  border-radius: 5px;
  padding-inline: 2rem;
  margin-inline: 0.5rem;
  padding-block-end: 0.25rem;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

.product {
  margin: 0.5rem;
  padding: 1rem;
  border: 2px solid #5f17d423;
  border-radius: 5px;
  background-color: #efe4ff;
  color: rgb(58, 58, 58);
}

.product-upper {
  margin-bottom: 0.5rem;
}
.product-lower {
  display: flex;
  flex-direction: column;
}

.product-name-and-price {
  display: flex;
  justify-content: space-between;
  padding-inline: 0.5rem;
}

.product-button-container {
  display: flex;
  justify-content: end;
}

.image-wrapper {
  height: 200px;
  position: relative;
}
.image-wrapper img {
  border-radius: 5px;
  object-fit: contain;
}

.absolute {
  position: absolute;
}
