<div class="page-header">
  <h1>Current Pre-Order</h1>
</div>
<div class="main">
  <div class="card">
    <p-carousel
      [value]="products()"
      [numVisible]="3"
      [numScroll]="1"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-product #item>
        <div class="product">
          <div class="product-upper">
            <div class="image-wrapper">
              <img
                ngSrc="assets/{{ product.image }}"
                [alt]="product.name"
                fill
                class="rounded-border"
              />
              <p-tag
                [value]="product.inventoryStatus"
                [severity]="getSeverity(product.inventoryStatus)"
                class="absolute dark:!bg-surface-900"
                [ngStyle]="{ 'left.px': 5, 'top.px': 5 }"
              />
            </div>
          </div>
          <div class="mb-4 font-medium">{{ product.name }}</div>
          <div class="flex justify-between items-center">
            <div class="mt-0 font-semibold text-xl">{{ '$' + product.price }}</div>
            <span>
              <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
              <p-button icon="pi pi-pen-to-square" styleClass="ml-2" [outlined]="true" />
              <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
            </span>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
