.main {
  background-color: var(--p-primary-400);
  border-radius: 5px;
  margin-inline: 0.5rem;
  --p-carousel-indicator-active-background: var(--p-primary-800);
}
.page-header {
  background-color: var(--p-primary-400);
  color: var(--p-surface-0);
  margin-bottom: 0.25rem;
  border-radius: 5px;
  padding-inline: 2rem;
  margin-inline: 0.5rem;
  padding-block-end: 0.25rem;
}
h1 {
  margin: 0;
}

.product {
  margin: 0.5rem;
  padding: 1rem;
  border: 2px solid #5f17d423;
  border-radius: 5px;
  background-color: #efe4ff;
  color: rgb(58, 58, 58);
}

.product-upper {
  margin-bottom: 0.5rem;
}

.image-wrapper {
  height: 200px;
  position: relative;
}
.image-wrapper img {
  border-radius: 5px;
  object-fit: contain;
}

.absolute {
  position: absolute;
}
