<div class="page-header">
  <h1>Current Pre-Order</h1>
</div>
<div class="main">
  <div class="card">
    <p-carousel
      [value]="products()"
      [numVisible]="3"
      [numScroll]="1"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-product #item>
        <div class="product">
          <div class="product-upper">
            <div class="image-wrapper">
              <img
                ngSrc="assets/{{ product.image }}"
                [alt]="product.name"
                fill
                class="rounded-border"
              />
              <p-tag
                [value]="product.inventoryStatus"
                [severity]="getSeverity(product.inventoryStatus)"
                class="absolute dark:!bg-surface-900"
                [ngStyle]="{ 'left.px': 5, 'top.px': 5 }"
              />
            </div>
          </div>
          <div class="product-lower">
            <div class="product-name-and-price">
              <div class="product-name">{{ product.name }}</div>
              <div class="product-price">{{ '$' + product.price }}</div>
            </div>
            <div class="product-button-container">
              <p-button
                icon="pi pi-pen-to-square"
                severity="primary"
                (onClick)="selectedProduct = product"
                label="Select Options"
              ></p-button>
              <!-- <p-button icon="pi pi-pen-to-square" styleClass="ml-2" [outlined]="true" />
              <p-button icon="pi pi-shopping-cart" styleClass="ml-2" /> -->
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  @if (selectedProduct) {
    <div class="card">
      <div class="card-title">Select options for: {{ selectedProduct.name }}</div>
      <app-select-options-component
        [selectedProduct]="selectedProduct"
        [responsiveOptions]="responsiveOptions"
      ></app-select-options-component>
    </div>
  }
</div>
