<div class="main">
    <div class="about-text-container">
        <label class="fleur-de-leah-regular about-title">About Milkglass Sweets</label>
        <p>The story of Milkglass Sweets is...</p>
    </div>
    <div class="owner-photo-container">
        <div class="owner-photo-mask">
            <img id="ownerPhoto" [ngSrc]="imagePath" alt="Photo of Owner" fill priority>
        </div>        
        <label id="ownerNameLabel" class="fleur-de-leah-regular">Jennie Mullenax, Founder</label>
    </div>
</div>

