<div class="cart-item-wrapper">
  <div class="cart-item-upper">
    <div>{{ item().productName }}</div>
    <div>
      <b>{{ item().price | currency }}</b>
    </div>
    @if (item().selectedFlavor) {
      <div>Flavor: {{ item().selectedFlavor }}</div>
    }
    @if (item().selectedSubProductName) {
      <div>Design: {{ item().selectedSubProductName }}</div>
    }
  </div>
  <div class="cart-item-lower">
    <div class="number-input-with-buttons">
      <p-button
        class="input-button"
        size="large"
        icon="pi pi-minus"
        (onClick)="decrementQty()"
      ></p-button>
      <p-inputnumber
        size="large"
        [(ngModel)]="item().quantity"
        [min]="1"
        [max]="20"
        [inputSize]="2"
        inputId="input-qty"
        disabled="true"
      ></p-inputnumber>
      <p-button
        class="input-button"
        size="large"
        icon="pi pi-plus"
        (onClick)="incrementQty()"
      ></p-button>
    </div>
    <p-button label="Remove" variant="text" (onClick)="removeItem()"></p-button>
  </div>
</div>
